.title-sort_btn {
  display: flex;
  justify-content: space-between;
  margin: 60px 30px 0px 30px;
}

.products-title {
  margin-top: 10px;
  font-size: 38px;
}

.title-sort_btn button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  margin: 5px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #e3e6f3;
  background-color: #088178;
  border: 2px solid #e3e6f3;
  cursor: pointer;
  transition: 0.3s;
}

.title-sort_btn button:hover {
  color: #088178;
  background-color: #e3e6f3;
  border: 2px solid #088178;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid rgb(158, 158, 158);
  border-bottom: 1px solid rgb(158, 158, 158);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.filter select {
  font-weight: 600;
  border: 1px solid black;
}

.filter select:hover {
  cursor: pointer;
}

.filter .option {
  padding: 10px;
}

.filter-text {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
}

.select {
  margin-right: 20px;
  padding: 10px;
}

.clearFilter-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  transition: 0.2s;
}

.clearFilter-btn:hover {
  color: rgb(158, 158, 158);
  border: 2px solid rgb(158, 158, 158);
}

.products-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 20px;
}

@media (max-width: 1050px) {
  .products-body {
    padding: 0;
    margin: 0;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .title-sort_btn {
    margin: 10px 10px 0px 10px;
  }

  .title-sort_btn button {
    margin: 7px 0;
  }

  .products-body {
    gap: 30px;
  }

  .filter-container {
    margin: 10px 0px;
    padding: 0;
    border-top: 1px solid rgb(158, 158, 158);
    border-bottom: 1px solid rgb(158, 158, 158);
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
