.productList-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: 20%;
  margin-bottom: 20px;
}

.favorite .fav-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 4px 2px 3px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.productList-img img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.productList-body {
  padding-top: 7px;
  padding-left: 7px;
  width: 100%;
}

.productList-bodyTitle {
  color: #1a1a1a;
  text-decoration: none;
}

.productList-bodyTitle:hover {
  text-decoration: underline;
}

.productList-body h5 {
  margin: 0;
  font-weight: 600;
}

.productList-body p {
  width: 100%;
  margin: 2px 0;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: rgb(100, 100, 100);
}

.productList-body h6 {
  margin: 5px 0;
}

@media (max-width: 1050px) {
  .productList-container {
    width: 24%;
  }
}

@media (max-width: 600px) {
  .productList-container {
    width: 45%;
  }
}
